<main>
    <section class="Navmenus">
        <div class="NavHead">
            <div class="Logo">
                <div class="Limg">
                    
                </div>
                <span>INFIELD</span>
            </div>

            <div class="Profile">
                <i class="fas fa-bell"></i>
                <div class="ProfileImg">

                </div>
                <i class="fas fa-sign-out-alt"></i>
            </div>

            <div class="DBOverv">
                <i class="fas fa-th"></i>
                <span>Dashboard</span>
            </div>
        </div>

        <div class="NavList">
            <div>
                <div>
                    <h4>Admin</h4>
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul>
                    <li>Add Employee</li>
                    <li>My Team</li>
                </ul>
            </div>
            <div>
                <div>
                    <h4>Registration</h4>
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul>
                    <li>View Registration</li>
                </ul>
            </div>
            <div>
                <div>
                    <h4>PJP</h4>
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul>
                    <li>View PJP</li>
                </ul>
            </div>
            <div>
                <div>
                    <h4>Help</h4>
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul>
                    <li>Raise Complaint</li>
                    <li>View Complaint</li>
                </ul>
            </div>
            <div>
                <div>
                    <h4>Attendance</h4>
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul>
                    <li>View Attendance</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="OutletScreen mat-elevation-z4">
        <router-outlet></router-outlet>
    </section>
</main>