<main>
    <section class="Graphics">
        <div class="Head">
            <h3>INFIELD</h3>
            <p>The Best in field</p>
        </div>
        <div class="Vectors">
            <img src="../../assets/LoginBck.png" alt="Graphics for Login page" id='LoginBck'>
        </div>
        <aside class="Binfo">
            <p>Now manage and track all your field work on your mobile and desktop <br>
                ,Making your productivity and efficiency like never before.</p>
            <div>Trinity app Pvt. Ltd</div>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </aside>
    </section>

    <section class="LoginForm">
        <div class="Formheading">
            <h3>Login</h3>
            <p>Welcom back to Infile. <br>
            Login with your Infiled Credentials</p>
        </div>

        <div class="FormFields">
            <mat-form-field appearance="legacy">
                <mat-label>Username</mat-label>
                <input matInput placeholder="for ex:user@gmail.com">
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput placeholder="your Password">
            </mat-form-field>

            <mat-checkbox>keep me logged in</mat-checkbox>

            <div>
                <button mat-raised-button> Sign In </button>
            </div>
        </div>

        <div class="newReg">
            Don't have an account ? <a href="#"><span>Register</span></a>
        </div>
    </section>
</main>