/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Nunito", sans-serif; }

:root {
    --primary1 : #826FDC;
    --pBlue : #7CCAFF;
    --pgreen : #29EEDF;
    --Tcolor : #312B4E;
}


#searchbar .mat-form-field-wrapper{
    padding-bottom: 0px !important;
}


.simplebar-scrollbar::before {
    background-color: var(--primary1);
}

.simplebar-scrollbar {
    margin-top: 20px;
}


/* GLOBAL STYLES AND CLASSES */
.TNbar {
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.TNbar > div:nth-child(1) {
    font-size: 1.6rem;
    align-self: flex-end;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: #312B4E;
}

/* FOR SUBMIT BUTTON */
.Sbtn {
    text-align: center;
    margin-top: 1rem;
}

.Sbtn > button {
    background: linear-gradient(to right, #17ECE9, #66F7C1 );
    color: white;
    width: 5rem;
}
